{% extends 'layout.html' %}

{% block body %}
    <main role="main">
        <h1 class="display-4">The Forgotten War</h1>
        <br>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://exposure.imgix.net/production/gallery_281814/photos/ph_6s8gqeimvo6arzl5/photo.jpg?w=1500&h=1300&q=89&auto=format" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">World's Largest Humanitarian Crisis</h5>
                    <p class="card-text">Over 22 million people—or three-quarters of the population—need urgent humanitarian aid and protection.</p>
                    <a href="https://crisisrelief.un.org/11-facts-about-yemen">
                        <p class="card-text">
                            <large class="text-muted">Source</large>
                        </p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://exposure.imgix.net/production/gallery_281814/photos/ph_akeffaygedk17dtr/photo.jpg?w=1500&h=1300&q=89&auto=format" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">A child under five dies every 10 mintues of preventable causes</h5>
                    <p class="card-text">Nearly 3 million children under 5 and pregnant or lactating women are acutely malnourished. This includes 400,000
                    children who are severely malnourished and, without treatment, are nine times likelier to die than their healthier
                    peers.</p>
                    <a href="https://crisisrelief.un.org/11-facts-about-yemen">
                        <p class="card-text">
                            <large class="text-muted">Source</large>
                        </p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://exposure.imgix.net/production/gallery_281814/photos/ph_ptuu2utfigcsmuhu/photo.jpg?w=1500&h=1300&q=89&auto=format" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Millions of people are hungry</h5>
                    <p class="card-text">Some 8.4 million people do not know where their next meal will come from.</p>
                    <a href="https://crisisrelief.un.org/11-facts-about-yemen">
                        <p class="card-text">
                            <large class="text-muted">Source</large>
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <br>

        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://exposure.imgix.net/production/gallery_281814/photos/ph_odfhpa3z77as6zny/photo.jpg?w=1500&h=1300&q=89&auto=format"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cholera remains a serious threat</h5>
                    <p class="card-text">In the last year, more than 1 million people suffered from cholera or watery diarrhoea.</p>
                    <a href="https://crisisrelief.un.org/11-facts-about-yemen">
                        <p class="card-text">
                            <large class="text-muted">Source</large>
                        </p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://exposure.imgix.net/production/gallery_281814/photos/ph_86hb34cs8eijdic4/photo.jpg?w=1500&h=1300&q=89&auto=format"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Humanitarian aid in Yemen depends on access – all ports must remain open</h5>
                    <p class="card-text">Yemen relies on imports for about 90% of its food, fuel and medicine.</p>
                    <a href="https://crisisrelief.un.org/11-facts-about-yemen">
                        <p class="card-text">
                            <large class="text-muted">Source</large>
                        </p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://exposure.imgix.net/production/gallery_281814/photos/ph_qkzrr2mcjqn37ewy/photo.jpg?w=1500&h=1300&q=89&auto=format"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Humanitarian response faces a nearly $2 billion funding gap.</h5>
                    <p class="card-text">To alleviate suffering on a massive scale, the Yemen humanitarian response plan calls for $2.96 billion to assist 13
                    million people.</p>
                    <a href="https://crisisrelief.un.org/11-facts-about-yemen">
                        <p class="card-text">
                            <large class="text-muted">Source</large>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        
        <br>

        <div class="col-lg-12 mb-auto"><iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=11KnXDATUmGInXu4-OWfAslkfvTY8dwoXlKGYxmvTrno&font=Default&lang=en&initial_zoom=1&height=650'
                width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
        </div>
        <br>

        <h1 class="display-4">Cholera Across Yemen</h1>
        <div class="row">
            <div class="col-lg-8">
                <div id="map"></div>
            </div>
            <div class="col-lg-4">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem quis magna varius auctor. Sed et ligula ornare,
                malesuada lectus vel, vestibulum ex. Curabitur mollis ex nec rhoncus finibus. Cras felis turpis, ultricies sed faucibus
                eget, fringilla quis nisi. Nullam bibendum accumsan nunc non consectetur. Curabitur egestas facilisis mauris, sed
                tincidunt mi. Nunc lacus justo, hendrerit non odio porttitor, tempus gravida neque. Sed non accumsan nisi. Integer
                volutpat nunc id sem viverra egestas. Cras aliquam elit vel lorem euismod, non eleifend leo pulvinar. Duis dictum
                finibus mattis. Quisque pretium felis ac nisi ornare, vitae dapibus ante eleifend. Nullam ultricies a est ac pharetra.
                Nulla iaculis massa eu sapien bibendum vulputate.
                </p>
            </div>
        </div>

        <br>

        <h1 class="display-4">Airstrikes Across Yemen</h1>
        <div class="row">
            <div class="col-lg-8">
                <div id="airstrikeMap"></div>
            </div>
            <div class="col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem quis magna varius auctor. Sed et ligula ornare,
                malesuada lectus vel, vestibulum ex. Curabitur mollis ex nec rhoncus finibus. Cras felis turpis, ultricies sed faucibus
                eget, fringilla quis nisi. Nullam bibendum accumsan nunc non consectetur. Curabitur egestas facilisis mauris, sed
                tincidunt mi. Nunc lacus justo, hendrerit non odio porttitor, tempus gravida neque. Sed non accumsan nisi. Integer
                volutpat nunc id sem viverra egestas. Cras aliquam elit vel lorem euismod, non eleifend leo pulvinar. Duis dictum
                finibus mattis. Quisque pretium felis ac nisi ornare, vitae dapibus ante eleifend. Nullam ultricies a est ac pharetra.
                Nulla iaculis massa eu sapien bibendum vulputate.
            </p>
            </div>
        </div>

        <br>

        <h1 class="display-4">Riots Across Yemen</h1>
        <div class="row">
            <div class="col-lg-8">
                <div id="riotMap"></div>
            </div>
            <div class="col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem quis magna varius auctor. Sed et ligula ornare,
                malesuada lectus vel, vestibulum ex. Curabitur mollis ex nec rhoncus finibus. Cras felis turpis, ultricies sed faucibus
                eget, fringilla quis nisi. Nullam bibendum accumsan nunc non consectetur. Curabitur egestas facilisis mauris, sed
                tincidunt mi. Nunc lacus justo, hendrerit non odio porttitor, tempus gravida neque. Sed non accumsan nisi. Integer
                volutpat nunc id sem viverra egestas. Cras aliquam elit vel lorem euismod, non eleifend leo pulvinar. Duis dictum
                finibus mattis. Quisque pretium felis ac nisi ornare, vitae dapibus ante eleifend. Nullam ultricies a est ac pharetra.
                Nulla iaculis massa eu sapien bibendum vulputate.
            </p>
            </div>
        </div>

        <br>
        <h1 class="display-4">US Bombing in Yemen</h1>
        <div class="row">
            <div class="col-lg-8">
                <div id="usamap"></div>
            </div>
            <div class="col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem quis magna varius auctor. Sed et ligula
                    ornare,
                    malesuada lectus vel, vestibulum ex. Curabitur mollis ex nec rhoncus finibus. Cras felis turpis, ultricies sed
                    faucibus
                    eget, fringilla quis nisi. Nullam bibendum accumsan nunc non consectetur. Curabitur egestas facilisis mauris,
                    sed
                    tincidunt mi. Nunc lacus justo, hendrerit non odio porttitor, tempus gravida neque. Sed non accumsan nisi.
                    Integer
                    volutpat nunc id sem viverra egestas. Cras aliquam elit vel lorem euismod, non eleifend leo pulvinar. Duis
                    dictum
                    finibus mattis. Quisque pretium felis ac nisi ornare, vitae dapibus ante eleifend. Nullam ultricies a est ac
                    pharetra.
                    Nulla iaculis massa eu sapien bibendum vulputate.
                </p>
            </div>
        </div>

        <h1 class="display-4">Economics in Yemen</h1>
            <div id="map"></div>
    
    </main>
{% endblock %}